{{ define "main" }}
{{ partial "hero.html" (dict "context" . "defaultimage" "lego")}}
<div class="container">
    <div class="section">
        <h1 class="title is-2">{{ .Title }}</h1>
        {{ .Content }}

            <div class="columns is-hidden-mobile">
                <div class="column is-6 mr-4">
                    {{ range $elem_index, $elem_val := sort .Pages ".Weight" }}
                    {{ if (modBool $elem_index 2) }}
                    {{ partial "software-summary-card.html" $elem_val }}
                    {{ end }}
                    {{ end }}
                </div>
                <div class="column is-6 ml-4">
                    {{ range $elem_index, $elem_val := sort .Pages ".Weight" }}
                    {{ if not (modBool $elem_index 2) }}
                    {{ partial "software-summary-card.html" $elem_val }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>

            <div class="columns is-hidden-tablet">
                <div class="column mr-4">
                    {{ range $elem_index, $elem_val := sort .Pages ".Weight" }}
                    {{ partial "software-summary-card.html" $elem_val }}
                    {{ end }}
                </div>
            </div>
            
    </div>
</div>
{{ end }}