{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title is-2">Blog Main Topics</h1>
            {{ .Content }}
        </div>

        <div class="columns is-8 is-variable is-multiline mb-5">
            {{ range .Data.Terms.ByCount }}
            {{ if ne .Page.Title "Software"}}
            <div class="column is-half">
                <div class="card mt-5" style="background-color:rgb(245, 245, 245);">
                    <div class="card-image">
                        <figure class="image is-3by1">
                            {{ $image := index site.Data.categoryimage .Page.Title }}
                            <img src="/images/hero/{{$image}}-small.webp" alt="Card Image">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <div>
                            <a class="title is-3 is-size-6-mobile" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                            {{ $pageCount := len .Pages }}
                            <p class="is-size-4">{{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }} </p>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}