
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.7em;
}

main {
    flex: 1;
}

.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.comment-line {
    background-image: linear-gradient(lightgrey ,lightgrey);
    background-size: 3px 100%;
    background-repeat: no-repeat;
    background-position: 2.1rem 4.2rem;
}
